@page
@model IndexModel
@inject TrainingProject.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet" href="~/css/HomePage.css">

<div class="container">

    <video id="videoHeader" src="Video/Training-Header-Video.mp4" autoplay controls>
        Your browser does not support the video.
    </video>

    <div id="motivation">
        <h2 class="motivationHeader">Motivation</h2>
        <div class="motivationText">
            <p>@Model.RandomMotivation</p>
        </div>
    </div>

    <div id="tips">
        <h2 class="motivationHeader">Workout Tip</h2>
        <div class="motivationText">
            <p>@Model.RandomTip</p>
        </div>
    </div>

    <div id="randomExercises">
        <h2>Published Workouts</h2>

        <table id="workoutTable">
            <thead>
                <tr>
                    <th>Workout name</th>
                    <th>Creator</th>
                    <th>Show workout</th>
                </tr>
            </thead>

            @foreach (var workout in Model.Workouts)
            {
                <tr id="existingWorkout">
                    <td>@workout.Name</td>
                    <td>@workout.Owner.Name</td>
                    <td>
                        @*<a asp-page="Workout/Show" asp-route-id="@workout.Id">Show</a>*@
                        <form>
                            <button asp-page="Workout/Show" asp-route-id="@workout.Id">Show workout</button>
                        </form>

                    </td>
                </tr>
            }
        </table>
    </div>

</div>

