@page
@using TrainingProject.Pages.Shared.Components.LoginMenu;
@model TrainingProject.Pages.MyPage.IndexModel
@{
    
}

<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet" href="~/css/MyPage.css">
<script src="~/js/MyPage.js" defer></script>

<div class="container">

    <div class="myPage">

        <div class="userInfo">
            <div class="imgDiv">
                <img class="profileImg" src="/Pictures/Sample-Profile-Pic.png" />
            </div>
            <environment names="Development">
                @await Component.InvokeAsync(nameof(FakeLoginMenu))
            </environment>          
          @*  
            @if (Model.ErrorMessage != "")
            {
                <script>alert(Model.ErrorMessage);</script>
                Model.ErrorMessage = "";
            }*@
            
                <ul class="userInfo">
                    <li>
                        <label id="userNameLabel" for="userName">Name: </label>
                        <p id="userName">@Model.User.Name</p>
                    </li>
                    <li>
                        <label for="userGender">Gender: </label>
                        <p id="userGender">@(Model.User.IsMale ? "Male" : "Female")</p>
                    </li>
                    <li>
                        <label for="userAge">Age: </label>
                        <p id="userAge">@Model.User.Age y/o</p>
                    </li>
                    <li>
                        <label for="userWeight">Weight: </label>
                        <p id="userWeight">@Model.User.CurrentWeight kg</p>
                    </li>

                    @*<li>
                    <label id="goalWeightLabel" for="goalWeight">Goal Weight: </label>
                    <p id="goalWeight">@Model.userData.TargetWeight kg</p>
                    </li>

                    <li>
                    <label id="goalLabel" for="goal">Goal: </label>
                    <p id="goal">@Model.userData.Goal</p>
                    </li>

                    <li>
                    <label for="dailyCalories">Daily Calories: </label>
                    <p id="dailyCalories">@Model.calorieCount.FinishedBMR kcal</p>
                    </li>

                    <li>
                    label for="finishDate">Finished Before: </label>
                    <p id="finishDate">@Model.calorieCount.FinishedDate</p>
                    </li>*@

                </ul>

                <button type="submit"><a asp-page="./Profile/Edit">Edit Profile</a></button>



                <div>
                    <form method="post">
                        <button name="goal" type="submit" value="Gain" class="@(Model.UserData!.Goal == "Gain" ? "selected" : "")">Gain</button>
                        <button name="goal" type="submit" value="Maintain" class="@(Model.UserData!.Goal == "Maintain" ? "selected" : "")">Maintain</button>
                        <button name="goal" type="submit" value="Lose" class="@(Model.UserData!.Goal == "Lose" ? "selected" : "")">Lose</button>

                        @if (Model.UserData!.Goal == "Gain" || Model.UserData!.Goal == "Lose")
                        {
                            <label for="targetWeight">Target Weight:</label>
                            <input type="number" name="targetWeight" id="targetWeight" placeholder="" required>
                            
                        }
                    </form>
                </div>

            @if (Model.UserData!.Goal != "None")
            {
                <button id="graphButton"><a asp-page="./Graph/Result">Show Progress Graph</a></button>
            }

        </div>

       @* @if (Model.UserData != null)
        {
            <details>
                <summary>Calculate</summary>
                <form method="post">
                    <ul class="userInput">

                        <li>
                            <label for="goalSelect">Goal</label>
                            <select asp-for="@Model.UserData.Goal" id="goalSelect" name="goal">
                                <option value="Lose Weight">Lose Weight</option>
                                <option value="Maintain">Maintain</option>
                                <option value="Build Muscle">Build Muscle</option>
                            </select>
                        </li>
                        <li>
                            <label id="targetWeightLabel" for="targetWeight">Goal Weight</label>
                            <input asp-for="@Model.UserData.TargetWeight" id="targetWeight" type="number" name="targetWeight" />
                        </li>
                    </ul>
                    <button type="submit">Submit</button>
                </form>
            </details>
            @**@
        @*@if (Model.calorieCount.FinishedBMR == "0")
        {
        <script>alert('For an individual of your height, your goal weight would put you in the underweight BMI category. Please enter new values!');</script>
        }

        }*@

    </div>

</div>
