@page
@model TrainingProject.Pages.MyPage.IndexModel
@{

}

<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet" href="~/css/MyPage.css">
<h1>My Page</h1>

<div id="myPage">
    <div id="userInfo">
        <div id="imgDiv"><img src="Pictures/Sample-Profile-Pic.png" /></div>
        <tr>
            <label id="userNameLabel" for="userName">Name: </label>
            <p id="userName">@Model.user.Name</p>
        </tr>
        <tr>
            <label for="userGender">Gender: </label>
            <p id="userGender">@(Model.user.IsMale ? "Male" : "Female")</p>
        </tr>
        <tr>
            <label for="userAge">Age: </label>
            <p id="userAge">@Model.user.Age y/o</p>
        </tr>
        <tr>
            <label for="userWeight">Weight: </label>
            <p id="userWeight">@Model.user.CurentWeight kg</p>
        </tr>
        <tr>
            <label id="goalWeightLabel" for="goalWeight">Goal Weight: </label>
            <p id="goalWeight">@Model.user.TargetWeight kg</p>
        </tr>
        <tr>
            <label for="dailyCalories">Daily Calories: </label>
            <p id="dailyCalories">@Model.calorieCount.FinishedBMR kcal</p>
        </tr>
        <tr>
            <label for="finishDate">Finish Date: </label>
            <p id="finishDate">@Model.calorieCount.FinishedDate</p>
        </tr>
    </div>

    <details>
        <summary>Calculate</summary>
        <form method="post">
            <div id="containerValue">
                <table>
                    <tr>
                        <label for="age">Age</label>
                        <input id="age" type="number" name="age" />
                    </tr>
                    <tr>
                        <label for="height">Height in cm</label>
                        <input id="height" type="number" name="height" />
                    </tr>
                    <tr>
                        <label for="weight">Weight in kg</label>
                        <input id="weight" type="number" name="weight" />
                    </tr>
                </table>
            </div>
            <div id="containerGoal">
                <table>
                    <tr>
                        <label for="gender">Gender</label>
                        <select id="gender" name="gender">
                            <option value="true">Male</option>
                            <option value="false">Female</option>
                        </select>
                    </tr>
                    <tr>
                        <label for="goal">Goal</label>
                        <select id="goal" name="goal">
                            <option value="lw">Lose Weight</option>
                            <option value="m">Maintain</option>
                            <option value="bm">Build Muscle</option>
                        </select>
                    </tr>
                    <tr>
                        <label for="targetWeight">Goal Weight</label>
                        <input id="targetWeight" type="number" name="targetWeight" />
                    </tr>
                </table>
            </div>
            <button type="submit">Submit</button>
        </form>
    </details>
    @if (Model.calorieCount.FinishedBMR == "0")
    {
        <script>alert('For an individual of your height, your goal weight would put you in the underweight BMI category.');</script>
    }



    @*--------Graph Here-----------*@



    <a id="StartPage" asp-page="/Index">Start Page</a>
</div>
