@page "{id:int?}"
@model TrainingProject.Pages.Workout.EditModel
@{

}

<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet" href="~/css/Workout.css">

<h1>@Model.Id</h1>



<h2>Exercises in wokout</h2>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Muscle Group</td>
            <td>Description</td>
            <td>Intensity</td>
            <td>Remove button</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var workoutExercise in Model.SelectedWorkout.WorkoutExecises)
        {
            <tr>
                <td>@workoutExercise.Exercise.Name</td>
                <td>@workoutExercise.Exercise.MuscleGroup</td>
                <td>@workoutExercise.Exercise.Description</td>
                <td>
                    <form method="post" asp-page-handler="change">
                        <select name="intesnity" onchange="this.form.submit()">
                            <option value="3">High</option>
                            <option value="2" selected>Medium</option>
                            <option value="1">Low</option>
                        </select>
                        <input type="hidden" value="@workoutExercise.Id" name="workoutExerciseId">
                    </form>
                </td>
                <td>
                    <form method="post" asp-page-handler="delete">
                        <input type="hidden" name="exersieId" value="@workoutExercise.Id">
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>



<h2>Exercises to chose from</h2>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Muscle Group</td>
            <td>Description</td>
            <td>Intensity</td>
            <td>Add button</td>

        </tr>
    </thead>
    <tbody>
        @foreach (var exersie in Model.Exercises)
        {
            <form method="post">

            <tr>
                <td>@exersie.Name</td>
                <td>@exersie.MuscleGroup</td>
                <td>@exersie.Description</td>
                <td>
                    <select name="intesnity">
                        <option value="3">High</option>
                        <option value="2">Medium</option>
                        <option value="1">Low</option>
                    </select>
                </td>
                <td>
                    <input type="hidden" value="@exersie.Id" name="exersieId">
                    <button type="submit">add to workout</button>
                </td>
            </tr>

            </form>
        }
    </tbody>
</table>
