@page 
@model TrainingProject.Pages.Workout.IndexModel
@{

}

<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet" href="~/css/Workout.css">

<a id="createWorkout" asp-page="Edit">Create Workout</a>

<h2>My workouts</h2>
<table class="exerciseInfo">
    <thead>
        <tr>
            <th>Workout name</th>
            <th>Show workout</th>
            <th>Link to edit</th>
        </tr>
    </thead>

    @foreach (var workout in Model.MyWorkouts)
    {
        //TODO change links to buttons
        <tr id="existingWorkout">
            <td>@workout.Name</td>
            <td>
                @*<a asp-page="Show" asp-route-id="@workout.Id">Show</a>*@
                <form>
                    <button asp-page="Show" asp-route-id="@workout.Id">Show workout</button>
                </form>
            </td>
            <td>
                
                <form>
                    <button  asp-page="Edit" asp-route-id="@workout.Id">Edit Workout</button>
                </form>
                
                @*<a asp-page="Edit" asp-route-id="@workout.Id">Edit test</a>*@            
            </td>
        </tr>
    }
</table>

<h2>Others workouts</h2>
<table>
    <thead>
        <tr>
            <th>Workout name</th>
            <th>Creator</th>
            <th>Show workout</th>
        </tr>
    </thead>

    @foreach (var workout in Model.Workouts)
    {
        //TODO change links to buttons
        <tr id="existingWorkout">
            <td>@workout.Name</td>
            <td>@workout.Owner.Name</td>
            <td>
                @*<a asp-page="Show" asp-route-id="@workout.Id">Show</a>*@
                <form>
                    <button asp-page="Show" asp-route-id="@workout.Id">Show workout</button>
                </form>
            </td>
        </tr>
    }
</table>
